{% extends 'layout.twig' %}

{% block content %}
<main>
  <header class="intro">
    <h1>{{ page.title.html }}</h1>
  </header>
  <div class="text">
    {{ page.text.kt|raw }}
  </div>
</main>
{% endblock %}
